[defaults]
inventory = inventory
nocows = 1
retry_files_enabled = false
vault_password_file = ./.vault_pass
callback_plugins = plugins/callbacks
callbacks_enabled = auto_tags

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=5m
